body {
    text-align: center;
    margin-top: 100px;
    background: orangered;
    color: white;
    font-family: Arial, sans-serif;
}

@font-face {
  font-family: nippo;
  src: url(nippo2.ttf);
}

#startBtn {
    margin: 20px;
    padding: 20px 20px;
    font-size: 30px;
    font-family: nippo;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: black;
    color: orangered;
}
#startBtn:hover {
    background-color: orangered;
    color: black;
}

.game {
    width: 700px;
    height: 500px;
    /* top: 80px; */
    background-image: url(newyork.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
    overflow: hidden;
    border: 3px solid black;
    border-radius: 20px;
}

#pacman {
    width: 120px;
    height: 120px;
    background-image: url(pacman.png);
    background-size: cover;
    position: absolute;
    bottom: 10px;
    right: 50px;
}

.jump {
    animation: jump 0.4s ease-out;
}

@keyframes jump {
    0%   { bottom: 10px; }
    40%  { bottom: 140px; }
    60%  { bottom: 140px; }
    100% { bottom: 10px; }
}

#ghost {
    width: 50px;
    height: 50px;
    background-image: url(ghost.png);
    background-size: cover;
    position: absolute;
    bottom: 10px;
    right: -60px; 
}

#gameOverMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-shadow: 3px 3px 8px black;
  padding: 20px;
  font-size: 200px;
  font-family: nippo;
  display: none;
  z-index: 1000;
  animation: popIn 0.5s linear;
}


@keyframes popIn {
    0% {
        font-size: 0px;
    }
    100% { 
        font-size: 200px;
     }
}
