body {
    text-align: center;
    margin-top: 100px;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
}

#startBtn {
    margin: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
#startBtn:hover {
    background-color: orangered;
}

.game {
    width: 600px;
    height: 400px;
    /* top: 80px; */
    background-image: url(newyork.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
    overflow: hidden;
    border: 3px solid white;
}

#pacman {
    width: 120px;
    height: 120px;
    background-image: url(pacman.png);
    background-size: cover;
    position: absolute;
    bottom: 10px;
    right: 50px;
}

.jump {
    animation: jump 0.4s ease-out;
}

@keyframes jump {
    0%   { bottom: 10px; }
    40%  { bottom: 140px; }
    60%  { bottom: 140px; }
    100% { bottom: 10px; }
}

#ghost {
    width: 50px;
    height: 50px;
    background-image: url(ghost.png);
    background-size: cover;
    position: absolute;
    bottom: 10px;
    right: -60px; 
}
